.minesweeper-Tile {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    vertical-align: top;
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: Lucida Console, monospace;
    font-size: 0.7em;
    background-color: #ffffff;
    border-width: 1px;
}

.minesweeper-Tile:focus {
    outline: none;
}

.minesweeper-Tile_unrevealed {
    background-color: #d0d0d0;
}

.minesweeper-Grid {
    table-layout: fixed;
    border-spacing: 0;
    background-color: #ffffff;
    cell-spacing: 0;
}

.minesweeper-Grid  td {
    width: 2em;
    height: 2em;
    padding: 0;
}
